p{
		color: black;
		position: relative; top: 75px;
}

body{
		background-color: #FFF9F1;
}

a{
		position: relative; top: 600px; left : 700px;
}

h1{
		position : absolute; left : 650px;
}

div{
	position : relative; top : 100px;
}
