<head>
	<style>
		body {
			background-color: #FFF8EB;
		}

		a {
			position: relative;
			top: 600px;
			left: 700px;
		}

		h1 {
			position: absolute;
			left: 650px;
		}

		.zoom-in {
		  transition: transform .3s;
		}

		.zoom-in:hover {
		  transform: scale(1.02);
		}

		p {
			position: relative; top : 90px
		}
		.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}
	</style>
</head>
